@model MapleTools.Models.BanList
@{
	var keys = Model.BannedPlayers.Keys;
}

<p>Banlist placeholder</p>

@foreach(var key in keys)
{
	<p>The job id @key </p>
	if(Model.BannedPlayers.TryGetValue(key, out var players))
	{
		foreach (var p in players)
		{
			<p>The banned player id @p.CharacterName @p.Level</p>
		}
	}
	else
	{
		<p>No one is banned for the job</p>
	}
}

