@model MapleTools.Models.Trending
@{
	var keys = Model.JobTrending.Keys;
}

<p>Trending Placeholder</p>

@foreach (var key in keys)
{
	<p>The job id @key </p>
	if (Model.JobTrending.TryGetValue(key, out var players))
	{
		foreach (var p in players)
		{
			<p>The job and the amount is @p.Item1 @p.Item2</p>
		}
	}
	else
	{
		<p>No one is farming today</p>
	}
}


